In [51]:
#importando os dados
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


df = pd.read_csv(r"C:\Users\luis\code\python\pos-grad\Introducao_a_algoritmos\avaliacao\data\public_servant_purchases.csv")

df.shape

(5000, 4)

In [53]:
import re
df = df[df['nome_do_funcionario'].apply(lambda x: bool(re.match(r'^[A-Za-z\s]+$', str(x))))]

df

,nome_do_funcionario,item_comprado,valor_em_real,data_da_compra
0,Amanda Jones,Copy Paper,227.00,2024-12-01 18:05:04
1,Patrick Kavuma,Counselling Services,88.00,2024-01-18 18:26:17
2,Daljit Singh,Tablet,1299.00,2024-06-12 09:05:57
4,Cheryl Vile,Computer and accessories,2.81,2024-03-20 10:48:04
5,PRITI SHARMA,Furniture,260.00,2024-03-24 01:10:00
...,...,...,...,...
4990,LUZ PICA,Serviço de Saúde,44.00,2024-07-07 08:12:59
4991,Simon,Carteira 2014/2018,182.00,2024-08-01 07:06:48
4994,Kiran G,Office Supplies,14.00,2024-10-03 13:13:19
4998,LAURA JACKSON,Half Pavement,13168.50,2024-03-04 03:02:39
4999,Adebisi Adeleke Abiodun,Acquisition of 200000 litres of diesel for the...,2500000.00,2024-06-07 14:24:24

In [54]:
df_new = df.dropna(subset=["nome_do_funcionario"])
df_new

,nome_do_funcionario,item_comprado,valor_em_real,data_da_compra
0,Amanda Jones,Copy Paper,227.00,2024-12-01 18:05:04
1,Patrick Kavuma,Counselling Services,88.00,2024-01-18 18:26:17
2,Daljit Singh,Tablet,1299.00,2024-06-12 09:05:57
4,Cheryl Vile,Computer and accessories,2.81,2024-03-20 10:48:04
5,PRITI SHARMA,Furniture,260.00,2024-03-24 01:10:00
...,...,...,...,...
4990,LUZ PICA,Serviço de Saúde,44.00,2024-07-07 08:12:59
4991,Simon,Carteira 2014/2018,182.00,2024-08-01 07:06:48
4994,Kiran G,Office Supplies,14.00,2024-10-03 13:13:19
4998,LAURA JACKSON,Half Pavement,13168.50,2024-03-04 03:02:39
4999,Adebisi Adeleke Abiodun,Acquisition of 200000 litres of diesel for the...,2500000.00,2024-06-07 14:24:24

In [55]:
#detectar compras duplicadas

duplicates_date = df_new['data_da_compra'].duplicated()
duplicates_date.value_counts()

duplicates_true = df_new[duplicates_date].loc[:, ['data_da_compra', 'nome_do_funcionario', 'valor_em_real']]
duplicates_true = duplicates_true.sort_values(by='data_da_compra')
duplicates_true

           data_da_compra            nome_do_funcionario  valor_em_real
371   2024-01-01 00:00:00  Yunusov Jamoliddin Yusupovich          67.31
756   2024-01-01 00:00:00                  Wendy Vaughan        1195.00
1121  2024-01-01 00:00:00                Michael Morelli         220.00
1242  2024-01-01 00:00:00                   Satyam Kumar       10678.00
1865  2024-01-01 00:00:00                 Mohamed Sharif         250.00
...                   ...                            ...            ...
4697  2024-12-25 13:22:37                  RAMBABU SINGH         157.00
4542  2024-12-27 03:46:58                     Kevin Zhou         105.00
4434  2024-12-27 18:06:25                    JAMES HENRY          12.54
4661  2024-12-28 16:39:38               Ahmed Zeineddine          15.00
4296  2024-12-30 16:31:35            Ahmed Mohamed Farag          18.45

[244 rows x 3 columns]

In [56]:
#valores acima de 1000

df_acima_1000=df_new.loc[df["valor_em_real"] > 1000]
df_acima_1000

,nome_do_funcionario,item_comprado,valor_em_real,data_da_compra
2,Daljit Singh,Tablet,1299.00,2024-06-12 09:05:57
16,MARTIN LOUIS,Aluguel de Imóvel,3912.77,2024-12-18 12:14:32
33,JAKE KOWALSKY,Dell 13 Touchscreen Latitude E5470,1413.98,2024-03-13 12:29:57
36,Michael Brennan,Automobiles,2231.12,2024-04-15 09:08:49
44,Trevor,Motorola Droid Pro,1977.00,2024-07-21 00:28:52
...,...,...,...,...
4978,LUIS FRANKLIN,Artigo Tecnico,2591.66,2024-12-29 13:19:48
4984,Juliana Pereira,MIPS_111111111,2500.00,2024-08-27 10:58:23
4986,Ahmed Aljunid,Iphone 12,10855.00,2024-01-07 11:17:10
4998,LAURA JACKSON,Half Pavement,13168.50,2024-03-04 03:02:39
4999,Adebisi Adeleke Abiodun,Acquisition of 200000 litres of diesel for the...,2500000.00,2024-06-07 14:24:24

In [60]:
#Identificar compras fora do horário comercial (antes de 08:00 ou depois de 18:00)
df_new['horario_da_compra'] = pd.to_datetime(df['data_da_compra']).dt.time
df_new['dia_da_semana'] = pd.to_datetime(df['data_da_compra']).dt.day_name()
df_new

df_fora_do_horario_comercial = df_new.loc[ (df_new['horario_da_compra'] < pd.to_datetime('08:00').time()) | (df_new['horario_da_compra'] > pd.to_datetime('18:00').time())]
df_fora_do_horario_comercial

C:\Users\luis\AppData\Local\Temp\ipykernel_8724\73013964.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['horario_da_compra'] = pd.to_datetime(df['data_da_compra']).dt.time
C:\Users\luis\AppData\Local\Temp\ipykernel_8724\73013964.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['dia_da_semana'] = pd.to_datetime(df['data_da_compra']).dt.day_name()

,nome_do_funcionario,item_comprado,valor_em_real,data_da_compra,horario_da_compra,dia_da_semana
0,Amanda Jones,Copy Paper,227.00,2024-12-01 18:05:04,18:05:04,Sunday
1,Patrick Kavuma,Counselling Services,88.00,2024-01-18 18:26:17,18:26:17,Thursday
5,PRITI SHARMA,Furniture,260.00,2024-03-24 01:10:00,01:10:00,Sunday
8,Davinia A,Congress,196.85,2024-09-25 02:27:23,02:27:23,Wednesday
10,MRS DARLA LISA,GASOLINA,139.00,2024-06-11 23:14:08,23:14:08,Tuesday
...,...,...,...,...,...,...
4970,Joshua Chukwu,Purchase of goods for the benefit of the Feder...,1673.47,2024-10-13 22:16:08,22:16:08,Sunday
4974,Rejoice Olajuwon,Printer HP 1112,573.76,2024-12-22 00:19:52,00:19:52,Sunday
4983,Jennifer Hernandez,Food,24.60,2024-09-16 06:40:03,06:40:03,Monday
4991,Simon,Carteira 2014/2018,182.00,2024-08-01 07:06:48,07:06:48,Thursday
4998,LAURA JACKSON,Half Pavement,13168.50,2024-03-04 03:02:39,03:02:39,Monday

In [57]:
#Organizar compras por servidor usando dicionarios

compras_por_funcionario = df_new.groupby('nome_do_funcionario')["valor_em_real"].apply(list).to_dict()
compras_por_funcionario

{'A': [171.3],
 'AAMIR GHULAM SHAH': [804.0],
 'ABBAS FADHIL': [80.0],
 'ABDUL MUHAMMAD ABDULLAHI': [166.0],
 'ACCOUNTANT': [1494.0],
 'ADAM MICHAEL': [10.0],
 'ADEKUNLE ADEYEMI': [399.0],
 'ADEKUNLE OLUWASEGUN': [238.44],
 'ADUKE ADEBIYI': [18.3],
 'AHMET BAYRAM': [246.9],
 'AISHWARYA': [2975.0],
 'AJAY SINGH': [145.0, 698.0],
 'AJEKU MARTINS': [192.0],
 'AJIT KUMAR': [21.0],
 'AKINWALE OLUWASEUN': [105000.0],
 'ALBERTO MAURICIO CHACON MARTINEZ': [99.69],
 'ALEXANDER ROY PARKES': [586.0],
 'ALFRED OGBUANYA': [34.13],
 'ALICE BAILLIE': [164.0],
 'ALOYSIUS JONATHAN': [12.48],
 'AMAOUDI Mohamed': [12.43],
 'AMIT SINGH': [98.59],
 'AMRIT SINGH': [528.0],
 'ANN CAROLINE': [19.0],
 'ANNABELLE BANK': [24.95],
 'ANOH WILSON': [39.89],
 'ANURADHA VIJAY': [232.0],
 'AO': [39.84],
 'ARUN KUMAR': [407.31],
 'ASHESH SINGH': [834.32],
 'AVANIKUMAR MAHIDHAR': [1833.16],
 'Aamir Ahmed': [344.57],
 'Aamir Khan': [45.0],
 'Aaron': [108.0, 1.51],
 'Aaron Anthony': [41.21],
 'Abbey': [4.11],
 'Abdul': [173.0, 159.33],
 'Abdul Hakeem Abdul': [921.0],
 'Abdul Haleem': [145.6],
 'Abdul Hameed': [1365.0],
 'Abdul Hamid Bin Abdul Rashid': [389.22],
 'Abdul Majeed': [12160.0, 2.35],
 'Abdul Mohammed': [3031.19],
 'Abdul Rahim': [64.95, 1094.63, 103.22, 151.5],
 'Abdul Rasheed Mohammed': [244.0],
 'Abdul Razzak': [3.49],
 'Abdul Rehman': [137.0],
 'Abdul Sattar': [231.0],
 'Abdulahi O Adeleke': [4.76],
 'Abdulaziz Aljaber': [102.0],
 'Abdulkadir Ibrahim': [264272.0],
 'Abdulrehman MD Khattak': [259.0],
 'Abebaw': [158.0],
 'Abebe Tefera': [1695.0],
 'Abigail Jackson': [139.0],
 'Abra': [12.22],
 'AbrahamS': [136.0],
 'Abubakar Ibrahim': [3.0],
 'Abul Hasan': [154.9],
 'Academic Staff': [1135.63],
 'Achala JAYATILLEKA': [7868.0],
 'Achia Kwakye': [7612.49],
 'Adam Chapman': [299.0],
 'Adam Radomski': [579.99],
 'Adebayo Olusegun': [27.9],
 'Adebayo Tade': [293.0],
 'Adebisi Adeleke Abiodun': [2500000.0],
 'Adekunle Ajayi': [2363.22],
 'Adele Bamford': [21.67],
 'Adele Blurton': [838.67],
 'Adele Fowler': [67.19],
 'Adele Hickson': [170.0],
 'Adelina': [30000.0],
 'Ademola Akinyemi': [66.25],
 'Adenike Ayobami': [1.0],
 'Adeniyi Ogunsola': [520.0],
 'Adetola ADEBISI': [18.0],
 'Adeyemi TOYE': [109.5],
 'Adilov Nodirjon': [114.0],
 'Aditya': [1149.99],
 'Adnan Mohammed': [363.81],
 'Adrian': [103.9, 11500.0, 12.9],
 'Adrian Kent': [24.9],
 'Adrian Lei': [336.0],
 'Adriana': [23.9],
 'Adriana Herrera': [198.5],
 'Ageyi Isaac': [549.0],
 'Agha Shams Fatima': [12.95],
 'Agnes': [691.55],
 'Agnes APPLEBY': [2.0],
 'Ahmad Yahya': [21.2],
 'Ahmad Zulkifli': [66.91],
 'Ahmed': [249.0, 6.95, 314.0, 18.17],
 'Ahmed Abdel Fattah': [308.0],
 'Ahmed Ali': [910.0, 132.5],
 'Ahmed Aljunid': [10855.0],
 'Ahmed Ayinla': [8.39],
 'Ahmed Hamed': [289.0],
 'Ahmed Hussain': [3.69],
 'Ahmed Mohamed': [170.0],
 'Ahmed Mohamed Farag': [18.45],
 'Ahmed Saeed': [705.0],
 'Ahmed Tuew': [254.0],
 'Ahmed Zeineddine': [15.0],
 'Aimilios S': [458.72],
 'Aishwarya Banerjee': [1050.0],
 'Ajay Kumar': [118.43, 2.99],
 'Ajay Kumar Avinash': [159.05],
 'Ajith Kumar': [1668.0],
 'Akande Kamarudeen Olusegun': [984.0],
 'Akanksha': [146.0],
 'Akash': [5.92],
 'Akbarov Mahmud': [175000.0],
 'Akeem Adesola': [35.0],
 'Akif': [133.78],
 'Akintunde OLUKAYODE': [52.0],
 'Akosua Kwakye': [17.17],
 'Akram': [182.77],
 'Akshay': [4010.5],
 'Akshay Mishra': [10.0],
 'Akshay Vijay': [177.0],
 'Ala': [414.0],
 'Alabama': [1329.61],
 'Alain': [20.75, 239.5, 2283.0],
 'Alan': [189.92],
 'Alan Hackett': [4.02],
 'Alan Yarwood': [58.0],
 'Alana Kunz': [2.39],
 'Albert': [22.5, 369.0, 19.99],
 'Albert Cornell': [11.58],
 'Albert Fleming': [177.0],
 'Albert Malcolm': [4417.0],
 'Albert Savage': [25.0],
 'Albert Taschuk': [21.0],
 'Albert Tillman': [152.0],
 'Alberto Fernandes': [8030.0],
 'Alberto Ferrari': [2.5],
 'Alberto Gomez': [4543.0],
 'Alberto Pena': [5999.0],
 'Alberto Reyes': [105.0],
 'Albina': [33.9],
 'Albion': [294.0],
 'Alejandra Molina': [1.0],
 'Aleksandr': [7.5, 138.0],
 'Aleksandr Chernyshev': [363.29],
 'Alexander': [19.65],
 'Alexander OLIVER': [19.0],
 'Alexander Peter': [272.5],
 'Alexandra': [12360.0],
 'Alfonso': [11.0],
 'Alfred': [2471.0],
 'Alfred Kone': [127.0],
 'Alfred Moses': [1398.0],
 'Alfredo Herrera': [799.39],
 'Alfredo Lawson': [17.0],
 'Alfredo Perez': [451.5],
 'Alhaji Adeyemi O': [137.5],
 'Ali Akbar Md': [190.0],
 'Ali Raza': [79.99],
 'Alice': [79.9, 15000.0, 659.0, 1360.0, 3.18],
 'Alice R': [28.0],
 'Alice Smith': [268.0, 51.0],
 'Alice and Smith': [6.0],
 'Alina': [88.0, 12.0, 3.75],
 'Alison': [406.69, 273.0],
 'Alison Dove': [1.0],
 'Alison Duchon': [1.0],
 'Alison Kenny': [34.0],
 'Aliyu K Bayero': [199.67],
 'Alkaram Ameen': [1210.89],
 'Alkhair Bahjat': [179.8],
 'Alma': [45.0],
 'Alom': [12.6],
 'Alphonsine DENISA': [247.0],
 'Alvaro Carolo': [13.0],
 'Alvin': [109.37],
 'Amaechi Okogba': [549.0],
 'Amanda Claussen': [12.0],
 'Amanda Jones': [227.0],
 'Amanda Rogers': [5689.0],
 'Amanda Silva': [69.5],
 'Amanda Wolff': [38.32],
 'Amar K Singh': [149.9],
 'Amar Patel': [1566.0],
 'Amarjeet Singh': [1.17],
 'Ambassador': [38660.0],
 'Ambika': [585.0],
 'Ameer Hamza': [36.97],
 'Amina BA': [14065.0],
 'Aminata Thiam': [8.04],
 'Aminu Abubakar': [1299.0],
 'Amit': [3.6],
 'Amrita Mukherjee': [11.9],
 'Amruta Shalini Shinde': [2.0],
 'Amy': [5.9, 2.4],
 'Amy Lambert': [1285.0],
 'Amy Schneider': [1615.6],
 'Ana': [107307.0],
 'Ana Maria Leite de Souza': [100.0],
 'Ana Maria Pereira da Rocha': [100.0],
 'Anak Paul': [2.2],
 'Andrea Arbour': [3.64],
 'Andreas Meinhardt': [73.49],
 'Andrew': [117.0, 42.0, 50.0, 18.24, 118.74],
 'Andrew Donovan': [3.13],
 'Andrew Dunn': [272.0],
 'Andrew GARBUTT': [7899.0],
 'Andrew Smith': [185.95],
 'Andrew Thomas': [1.0],
 'Andronovo Dmitry': [120.0],
 'Anees Ahmed': [1819.0, 100.0],
 'Angel Martinez': [489.0],
 'Angela MARTIN': [114.9],
 'Ani': [20.87],
 'Anita Ade': [18.46],
 'Ankur Gupta': [55.14],
 'Anna': [4002.0, 59.5, 19.5, 54.28, 2.86],
 'Anna Kashkin': [1202.0],
 'Anna Worthington': [101.9],
 'Anne Connolly': [10451.0],
 'Anne P': [136.0],
 'Anselm': [76.8],
 'Anthony': [1829.0, 1242.97],
 'Anthony John': [249.0],
 'Antonio Valenzuela': [106.0],
 'Anwar Ahmad': [15000.0],
 'Aparna Shrestha': [107.0],
 'Arjun Patel': [-4.9],
 'Arjuna Fernando': [21.0],
 'Arkadiusz Pecyna': [84.95],
 'Arlene Grandin': [519.0],
 'Arlette Villebrun': [109.0],
 'Arnulfo Valdez': [200000.0],
 'Arthur': [19.99],
 'Arthur Charles': [389.99],
 'Arthur Edward': [4.38],
 'Arthur Gonsalves': [359.0],
 'Arun Bala': [13.45],
 'Arun Prasad': [22.8],
 'Asad': [32.0],
 'Asem': [314.76],
 'Asghar Axis': [104.0],
 'Ashanti Gangahar': [112.59],
 'Ashanti Porter': [413.0],
 'Ashish': [33.84],
 'Ashish Dabhi': [3274.0],
 'Ashley': [1410.0],
 'Ashley Eaton': [165.17],
 'Ashot Mikayel': [4.58],
 'Ashraf Hamid': [1389.0],
 'Ashwin Patel': [1240.9],
 'Ashwin W': [121.0],
 'Atanas Yordanov': [5188.0],
 'Atif Waheed': [635.0],
 'Aung Kyi': [29.9],
 'Aung Myint': [50000.0],
 'Austin Ferguson': [84.28],
 'Ayanda': [1184.0],
 'Ayatollah Khamenei': [16000.0],
 'Ayaz': [20.0],
 'Ayotunde Olalekan BISI': [3.0],
 'Ayotunde Olasunkanmi': [729.0],
 'Azizullah Ohadi': [3.38],
 'B Murlidharan': [2.67],
 'BABALOLA ALARI': [37.6],
 'BABAR MIRZA': [2737.29],
 'BADROSH HAMEED': [1.23],
 'BALAJI T K': [12.04],
 'BALDEV KAUR': [28051.0],
 'BALJIT SINGH': [1.71],
 'BARANOVA VLADENA': [0.0],
 'BARRY': [232.0],
 'BART WAYNE': [36.62],
 'BARTLETT D EDWARD': [319.99],
 'BASAK AHMET': [2078.42],
 'BASCHEW PAUL': [14268.0],
 'BELINDA MCCARTHY': [267.0],
 'BELLA VAN RUYSDEL': [2885.0],
 'BENAUD THOMAS': [34.19],
 'BENEDICT COLEMAN': [52.68],
 'BENEDICTA ANOELI': [299.0],
 'BENJAMIN': [177.67],
 'BENJAMIN FERRO': [25.0],
 'BENJAMIN HUGHES': [111.0],
 'BENJAMIN JOSEPH': [31059.0],
 'BENJAMIN OLOWOLO': [3102.0],
 'BENNY': [75.0],
 'BERNARD EDWARD': [40.0],
 'BETTINA AINSWORTH': [286.4],
 'BETTY KOUYOU': [57.49],
 'BHAGWAN CHAUDHARY': [80.2],
 'BHARATI KUMARI': [20.49],
 'BHAVESHKUMAR SHARMA': [1.14],
 'BHOOPALAPPA NARAYAN': [25.0],
 'BIANCA': [65.0],
 'BILAL ABDULLAH': [2367.4],
 'BILL WILLIAMS': [1761.92],
 'BINTANI BIN PETI': [3.0],
 'BIRUNGA COURTNEY': [1342.0],
 'BISHWAS DAS': [92.95],
 'BISWAMOHAN CHELLA': [22.1],
 'BJ KIM': [1.0],
 'BOLANLE': [117.0],
 'BONAVENTURE M': [13.6],
 'BRAN LESLIE': [24.5],
 'BRENDAN DODD': [700.0],
 'BRIAN': [311.86],
 'BRIAN DAVID KESSLER': [152.0],
 'BRIAN KAWANGA ONDANGO': [7.0],
 'BRIAN MABELE': [912.61],
 'BRIAN MUKAMBI': [1.0],
 'BRIAN PATRICK PERRINE': [1228.0],
 'BRIAN SAMUEL': [4298.0],
 'BRUNO SEVERINO MARTINS': [10.47],
 'Babalola Wahab Olanrewaju': [1097.0],
 'Babatunde Olufemi': [0.0],
 'Babatunde Olufemi Olaseni': [8960000.0],
 'Babatunde Olusola': [2899.0],
 'Babu Raja': [14.43],
 'Bailey Mccaughey': [204.22],
 'Bao Hui': [16.99],
 'Barbara DeSantis': [2.5],
 'Barbara M': [37.0],
 'Barbara Smith': [2929.99],
 'Barkha': [1152.0],
 'Barnabas Ikidime': [36.0],
 'Bartolomeu Dias Nhambiru': [220.0],
 'Bassan D': [153.49],
 'Bastian': [57.04],
 'Beatrice Ibeh': [6441.0],
 'Belinda Reid': [1.34],
 'Bemo': [15.2],
 'Benedicta': [48.5],
 'Benjamin': [5.69],
 'Benjamin Cox': [14367.0],
 'Bernadette Ralston': [29.36],
 'Bernadette Smith': [31.0],
 'Bernard': [114.5],
 'Bernard Djittey': [137.82],
 'Bernard Harris': [390.0],
 'Bernard Janvier': [4086.0],
 'Bernardo Emanuel De Oliveira': [1097.0],
 'Bernhard Schaible': [3.35],
 'Bhaskar': [921.96],
 'Bhojraj Tiwari': [258.0],
 'Bhoomi': [10.4],
 'Bibi Mohammad Wasim': [1235.0],
 'Bilal': [14.0, 1948.0],
 'Blaise B': [27.09],
 'Bob': [100.0, 268.0],
 'Bob Andrews': [3.64],
 'Bob D': [18.88],
 'Bob J': [192.0],
 'Bob Smith': [2534.45],
 'Bobbie': [296.62],
 'Bobbie England': [48.9],
 'Bogdan': [1112.0],
 'Boleslaw Burzec': [207.29],
 'Boris': [0.0],
 'Boris Czukin': [6306.0],
 'Boris Kossack': [28.24],
 'Bosiljka Dimitrova': [128.0],
 'Boyan': [286.0],
 'Bradley Alan': [12.26],
 'Bradley Calvin': [10.14],
 'Bradley Dillard': [9999.0],
 'Bradley Elton': [298.0],
 'Bradley Ferguson': [33.0],
 'Bradley Stan': [2932.8],
 'Breanna': [3616.6],
 'Brenda Ann Firlik': [110.49],
 'Brenda Benjamin': [2030.0],
 'Brenda Mills': [4.5],
 'Brenda Patterson': [71.0],
 'Brenda Shalala': [1.35],
 'Brendan': [47.4],
 'Brian': [95.28, 2596.0],
 'Brian Adrian': [330.0],
 'Brian Bear': [36.2],
 'Brian Michael': [491.9],
 'Brian Rogan': [29.0],
 'Brian White': [155.0],
 'Bridget TOMBES': [103.5],
 'Brigitte': [17.9],
 'Bruce': [89.99],
 'Bruce Angus': [452.81],
 'Bruce Anne Taylor': [28.0],
 'Bruce Bunch': [10.54],
 'Bruce Cullen': [125.0],
 'Bryan Trenary': [49.71],
 'Burak SAYIN': [241.18],
 'CARLOS FERNANDO': [13.9],
 'CARLOS WILLIAMS': [489.0],
 'CARMELITA': [0.68],
 'CARMEN OLGUIN': [43.0],
 'CARNES ANTHONY': [249.99],
 'CAROLE GERARD': [1474.9],
 'CAROLINA': [324.9],
 'CAROLINA STEELE': [6.0],
 'CAROLINE': [40.5],
 'CAROLINE CHRISTINE': [18.2],
 'CAROLINE DINNIE': [284.0],
 'CAROLINE MAHADEVAN': [119.99],
 'CAROLINE ROBINSON': [107.41],
 'CARRI ROBERT': [298.85],
 'CATALINA KRAMER': [1724.13],
 'CATHERINE AMELIA CALVERT': [3.29],
 'CATHERINE HENRY': [14.84],
 'CATHERINE ROCK': [15.45],
 'CC': [46.63],
 'CDRINKWATER': [12700.0],
 'CHETAN SINGH': [1.0],
 'CHEW JUN XIAN': [34.0],
 'CHIARA MARIA ALBERTO': [0.0],
 'CHIMAMNDA NWACHUKWU': [2280.0],
 'CHINA': [1001.0],
 'CHINTAN KUMAR RANI': [0.98],
 'CHRISTIAN MBOUGU MUHIMUZA': [25.2],
 'CHRISTINE DU': [525.0],
 'CJANEK': [186.86],
 'CYRIL GEORGE': [0.0],
 'Caleb': [12.15],
 'Caleb Pope': [210.0],
 'Calvin': [1497.89],
 'Cameron Smith': [14700.0],
 'Camilo Arias': [1697.0],
 'Carlos Eduardo Pereira': [39.99],
 'Carlos Manuel': [38.0],
 'Carlos Maximino Rojas': [50000.0],
 'Carlos Ramon': [182.65],
 'Carlos Valencia': [67.0],
 'Carly': [11.0],
 'Carolina': [30.5, 147.83],
 'Carolyn Dixon': [228.0],
 'Carolyn Kline': [4999.0],
 'Cassandra': [227.0],
 'Cassandra Howell': [205.78],
 'Catherine': [128.4],
 'Catherine BORDELEAU': [46.17],
 'Catherine Bakwin': [1665.42],
 'Cecilia Kwakye': [0.0],
 'Cedric Rashid': [8.0],
 'Chand': [50.0],
 'Chandrashekhar ji': [1809.0],
 'Chantal Leclerc': [8.65],
 'Charles Fowler': [141.0],
 'Charlotte Anderson': [8.83],
 'Charlotte Michel': [15.0],
 'Chee Chun Huey Zanelle': [6.93],
 'Chelsea Tillman': [3367.0],
 'Chen Bo': [8999.0],
 'Chen Zhongzu': [347.0],
 'Cheryl Greene': [265.94],
 'Cheryl Hornby': [27.57],
 'Cheryl Lois': [1850.0],
 'Cheryl Vile': [2.81],
 'Chiamaka Okeke': [267.99],
 'Chiang Chieng': [2334.0],
 'Chief Accountant': [3.59],
 'Chinonye Nwabuike': [157.26],
 'Chinwe Okeke': [56.0],
 'Chioma Kalu': [62.0],
 'Chipo Dabengwa': [148.44],
 'Chisamba G': [77.1],
 'Chris': [496.0, 184.75, 19.99],
 'Chris Chan': [244.0],
 'Christine': [19.0],
 'Christopher': [243.4],
 'Christopher Coates': [213.72],
 'Christopher Garrido': [31723.29],
 'Christopher Schneider': [1292.0],
 'Christy Gregory': [1430.0],
 'Chukwudi Chukwuka': [11.81],
 'Chukwudi Nwankpa': [41.0],
 'Chukwudi Nwosu': [389.0],
 'Chukwuebuka Raphael': [104.0],
 'Chukwuemeka Clement': [0.61],
 'Chukwukadibia EJIBE': [1.29],
 'Claire Tait': [129.0],
 'Clyde Doyle': [24.0],
 'Colin Ferguson': [21.05],
 'Connie Maldonado': [28.99],
 'Conrad': [44.37],
 'Conradin': [152.0],
 'Cristina Luzia': [1.7],
 'Cristina MARIN': [1999.0],
 'Cristina Maria Serov': [4699.0],
 'Cristina Tilleria': [0.0],
 'Cromwell Watkins': [16.36],
 'Cuong Nguyen': [11000.0],
 'Cynthia Kelly': [53.04],
 'Cynthia Smith': [89200.0],
 'Cyril TALBOT': [202.0],
 'D A SHARMA': [3239.0],
 'DADGELS': [22.66],
 'DALILA PATEL': [1.93],
 'DAMBISA WONDELA': [15.62],
 'DAMIAN GORDON': [150.0],
 'DANIEL': [17.0],
 'DANIEL BORNSTEIN LUI': [153.81],
 'DANIEL EGBO': [24.68],
 'DANIEL EGUAVION': [70.14],
 'DANIEL FRANCIS': [788.0],
 'DANIEL KEITH': [12.0],
 'DANIEL MCBRIDE': [4.5],
 'DANIEL MICHAEL': [1.0],
 'DANIEL SAMUEL AKUJE': [100000.0],
 'DANIEL TAN': [119.71],
 'DANIELLE': [32.32],
 'DANIELLE SCANLON': [134.0],
 'DARREN BRYANT': [32.8],
 'DARREN MARK': [113.95],
 'DAVID': [97.5],
 'DAVID MKANA': [49111.25],
 'DAVID ROBERTSON': [1499.0],
 'DEAN SANCHEZ': [107.0],
 'DEBORAH TAN': [4.2],
 'DECEAUX LUCIEN': [17810.0],
 'DEEPAK DUBEY': [207.0],
 'DEGGEL LYNDA': [17.14],
 'DELIA CLARA': [10.0],
 'DENIS THOMAS': [186.0],
 'DENISE LENON': [99.0],
 'DENISE ROMERO': [33.78],
 'DENNIS CHRISTOPHORUS': [53.25],
 'DENNIS GORE': [224.0],
 'DENNIS JOSEPH GABALDO': [34.5],
 'DENNIS MARTYN': [25.0],
 'DERRICK MANDLA TSHIKOLA': [115.17],
 'DESMOND KWAME EKO': [376.03],
 'DEVAPARAMBIL RAJU R': [20.75],
 'DIGHASAN': [165.13],
 'DIMITRIOS CHRISTODOULOU': [1.6],
 'DIMITRIOS THANASOULIS': [120001.11],
 'DINA CASIMIR': [1.45],
 'DINESH C P': [56.84],
 'DINESH KUMAR': [15.9],
 'DINESH KUMAR GUPTA': [5799.99],
 'DINESH SINGH': [1.0],
 'DONALD FRIEDRICH': [1730.0],
 'DONALD JOHNSON': [2.1],
 'DONALD KAYNE': [398.0],
 'DONALD LOPEZ': [4.27],
 'DONALD MANOEL MELANSON': [12.2],
 'DONATAS MILIUS': [19.16],
 'DONGHIA THI NGUYEN': [1233.96],
 'DORIS SOLANKE': [3268.0],
 'DURVASA BANSOD': [10.0],
 'Dadi Julienne': [73.0],
 'Daffy Duck': [599.0],
 'Dagmar': [5.1],
 'Daisy Pryor': [398.0],
 'Dalakaranjit Singh': [56.0],
 'Dalbir Singh': [160.0],
 'Dalibor Bozic': [358.75],
 'Dalitso Kalamula': [2492.0],
 'Daljeet Singh': [1400.0],
 'Daljit Singh': [1299.0],
 'Dalvin Kincaid': [138.4],
 'Dalvir Singh': [157.37],
 'Damir Saric': [46.35],
 'Dana de Lima': [1499.0],
 'Dang Chinh': [13.4],
 'Dang Duc Mao': [699.0],
 'Dang Phan': [1.17],
 'Daniel J Castro': [2.99],
 'Daniel Osei': [1675.19],
 'Daniel Razo': [11.0],
 'Daniela Carlota de Oliveira Souza': [1.7],
 'Daniela Romero': [12.0],
 'Dannie': [1330.0],
 'Dano S': [166.06],
 'Danyal Anees': [139.99],
 'Danylo': [1499.0],
 'Dapo Oluwasegun AJAYI': [3205.0],
 'Darlene': [21.99],
 'Darren Claut': [19.99],
 'Darryl Hicks': [1149.0],
 'Darryn Ainsworth': [1333.0],
 'Dave': [4.0],
 'Dave Humphries': [49.99],
 'David': [34.5, 28.7, 92.0, 2232.0],
 'David Allen': [27.59],
 'David JONES': [287.9],
 'David Lagunas': [3128.0],
 'David Lewis': [132.0],
 'David Maryan': [1949.0],
 'David Pandzis': [293.0],
 'David Robert': [209.24],
 'David Simpson': [2739.0],
 'David Zillman': [11114.0],
 'Davinia A': [196.85],
 'Dawood Khan': [86.88],
 'De M': [288.41],
 'Debaleena Saha': [27.64],
 'Debbie Daly': [4613.0],
 'Debbie Dos Santos': [473.67],
 'Debbie Lahaye': [232.0],
 'Debbie Riley': [2.99],
 'Deborah': [23800.0, 1660.0, 1499.0],
 'Deborah Bish': [120.0],
 'Deborah Dahl': [450.0],
 'Deborah Ellen': [821.84],
 'Deborah Jones': [23.0],
 'Deborah Mcqueen': [2690.0],
 'Deborah Wong': [31.72],
 'Debra Dixon': [50.69],
 'Debra Hunt': [169.16],
 'Debra Patterson': [1.7],
 'Deepak': [4.63],
 'Deepti': [1260.0],
 'Degimba Sylvester': [14.0],
 'Deng Chee Meng': [218.0],
 'Denis B': [165.0],
 'Dennis': [248.0],
 'Dennis Baez': [1.0],
 'Dennis Stewart': [114.99],
 'Dennison George': [1.54],
 'Derek Nicholls': [183.57],
 'Derek Zamora': [928.97],
 'Deysha Diaz': [890.0],
 'Dhananjai': [21.75],
 'Dhansimha Chandrasekaran': [422.0],
 'Dhruv Singh Kushwaha': [13.65],
 'Diana': [6.0, 12.0],
 'Diana Chow': [77.0],
 'Diana De La Rosa': [42.0],
 'Diane N': [203.71],
 'Dickson': [123500.0],
 'Dickson Robert': [73.0],
 'Dietrich': [104.0],
 'Dillan': [340.0],
 'Dimas Pinnosudjono': [6459.0],
 'Dimitar': [8000.0],
 'Dinusha Weerasuriya': [325.0],
 'Diogo Alves': [80.79],
 'Dipak Babu Singh': [2.7],
 'Dipak Jha': [78.5],
 'Dipak Narayan Mahato': [119.25],
 'Divina da Rosa Viana': [174.36],
 'Dobby Smegma': [12.1],
 'Domingos Taveira': [12.29],
 'Donald Smith': [2096.12],
 'Donya Amin': [110.0],
 'Dorcas Mbabari': [229.99],
 'Doris': [131.82],
 'Dorothy': [35.0, 25.0, 82.99, 133.12],
 'Dorothy Robbins': [1660.0],
 'Dorothy Shepherd': [253.0],
 'Douglas': [188.0],
 'Douglas John': [2490.82],
 'Douglas Lynn': [17.0],
 'Duan Gao': [2332.0],
 'Dudley': [89.0],
 'Duncan Dixon': [152.97],
 'Duncan Edmund': [49.96],
 'Durga': [6.56],
 'Durgesh Kumar': [8.8],
 'Dwight Williamson': [3625.23],
 'Dzmitry Krasnou': [299.0],
 'E Dwyer': [8529.0],
 'EDWARD': [100.0],
 'EDWARD FRANCIS': [699.0],
 'EILEEN BOUCHARD': [12.76],
 'ELLEN CHUMA': [1340.0],
 'EMELLE INNES': [1102.0],
 'EMMANUEL': [5.89, 99.9],
 'EMMANUEL CHRISTIAN': [5955.9],
 'EMMANUEL EZE': [4502.0],
 'ENGLISH': [9.0],
 'ENGLISH TEO': [72.69],
 'EUGENE KWOK WAI': [28.65],
 'EURYDICE': [177.72],
 'EVA MARIA BRUGGEMANN': [25.5],
 'EZEKIEL OSSAI': [20.6],
 'Edin Dedovic': [28.89],
 'Edmund': [12.0],
 'Edson Augusto da Silva': [139.78],
 'Edward': [821.0],
 'Edwin Edgar': [110.0],
 'Edwin Lau': [308.02],
 'Edwin Owusu': [1500.0],
 'Edwin Ransome': [170.0],
 'Egbert Owu': [238.21],
 'Ehsan Ebrahimi': [9879.69],
 'Ejaz Ali': [1.0],
 'Eka Razmadze': [109.0],
 'Ekene': [19.9],
 'Ekene Blaise': [28.38],
 'Ekkehard Kollmann': [23.68],
 'Elana Orozco': [1445.0],
 'Eldon': [16.96],
 'Eleanor Burton': [156.11],
 'Eleftheria RENTZEI': [10.0],
 'Elena': [29.99, 270.0, 3870.0, 2.8],
 'Elena Rojas': [102.0],
 'Elena Zamora': [19.0],
 'Eleonora Farrell': [106.0],
 'Eli Gyamfi': [200.0],
 'Elias': [108.0],
 'Elias Fernandes': [717.41],
 'Elias Zamora': [53.64],
 'Elif Dagli': [72.65],
 'Elijah Cunningham': [2.0],
 'Elizabeth': [3499.0, 226.0, 1014.0, 14.82],
 'Elizabeth Johanna Bennett': [109.42],
 'Elizabeth Keegan': [52.1],
 'Elizabeth TERRELL': [0.0],
 'Ella Ann': [290.99],
 'Ellen': [1845.0],
 'Elsie Goodwin': [1046.8],
 'Elvis Chisamba': [13.0],
 'Emma': [115.32],
 'Emmanuel': [392.0],
 'Emmanuel Baidoo': [1208.0],
 'Emmanuel David Oludare': [63.03],
 'Emmanuel OCAH': [1833.0],
 'Emmanuel Ugochukwu': [12.3],
 'Employee': [0.0],
 'Erdem Demir': [25.94],
 'Eren Berdov': [3.55],
 'Eric': [22.0, 1.13, 15.39],
 'Eric Moufakkir': [2977.98],
 'Eric Satre': [189.0],
 'Eric Starr': [8.11],
 'Eric Tone': [80.17],
 'Erica': [35.82],
 'Esmond Sim': [1540.62],
 'Esther': [5.14],
 'Ethal': [211.0],
 'Etienne Thibault': [159.26],
 'Eugenia Pernot': [132.26],
 'Eunice Daniel': [1340.0],
 'Eunice Noel': [29.9],
 'Evan Dugan': [115.99],
 'Evelyn Pugh': [1593.0],
 'Everett Eberly': [2800.0],
 'Ezequiel Ramos': [11.66],